<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h2>Register</h2>
    <form onsubmit="handleRegister(event) ">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />
      <label for="password">Password: </label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <button type="submit" id="btn">Register</button>
    </form>
    <script>
      const username = document.getElementById('username');
      const password = document.getElementById('password');
      function handleRegister(event) {
        event.preventDefault();
        fetch('/register', {
          method: 'POST',
          headers: { 'Content-type': 'application/json' },
          body: JSON.stringify({
            username: username.value,
            password: password.value,
          }),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error('Something went wrong');
            }
            return response.json();
          })
          .then((data) => {
            alert(data.message);
            window.location.href = data.path;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    </script>
  </body>
</html>